* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f0fff4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  color: #064e3b;
}

h1 {
  margin-bottom: 20px;
  font-size: 32px;
  color: #065f46;
}

.scoreboard {
  display: flex;
  gap: 40px;
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: bold;
}

.game {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 8px;
}

.cell {
  width: 100px;
  height: 100px;
  background: #d1fae5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.2s;
}

.cell:hover {
  background: #a7f3d0;
}

#resetBtn {
  margin-top: 25px;
  padding: 12px 25px;
  font-size: 18px;
  border: none;
  background: #10b981;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

#resetBtn:hover {
  background: #059669;
}
